
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500;1,600&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;

}
html{
    font-size: 62.5%;
    /* It means that 62.5% of defualt ie 16px which becomes 10 px */
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}
 
ul li{
    list-style: none;
}
a{
    font-size: 1.4rem;
    /* It means 1.6x times ofdefualt browser!! ie 16px */
    text-decoration: none;
   
}
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    /* Here we use em as unit coz now we want to change the maregin accoeding to font-size of given browswer . EM uses data of [parent ] while REM uses data of default html browser*/
    letter-spacing: 0.15em;
    /* word-spacing: 0.2em; */
    font-weight: 500;

}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/* ##########  utility classes ########### */
.container{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}
.lg-1{
    font-size: 3.5rem;
    position: relative;
    /* jiske respect meij main content ko shift krna hia usse relative position dete hai */
}

.md-heading{
    font-size: 2.2rem;
}
.lg-heading{
font-size: 2.5rem;
}

.text-red{
    color: #e63946;
}
.text-light{
    color: rgba(255, 255, 255, 0.822);
}
.text-gray{
    color: rgba(128, 128, 128, 0.685);
}
.text-black{
    color: #333333;
}

/* ########## header - styling  ######  */

.header{
   
    height: 95vh;
     background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)) , url('../IMG/photo-3.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .navbar{
  border: 2px solid white; */
    


/* .header .navbar .logo,
 .header .navbar a{
  color: white;} */

  .header .navbar .logo{
    float: left;
    /* font-size: 3.5rem; */
  }
  .header .navbar .list-content{
   float: right;
   margin-top: 1rem;
  }

  .navbar::after{
    content: "";
    display: block;
    clear: both;
  }

  .header .navbar .list-content{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
  }
.navbar a,
.navbar a:visited {
    color: #f4f4f4f4;

}
.navbar a:hover{
    border-bottom: 1px solid #ffffff;
}
.navbar a{
    padding-bottom: 0.6rem;

}
.lg-heading{
    text-transform: uppercase;
    font-weight: 600;
    
}
.main-content p{
    text-transform: uppercase;
}

.btn{
  display: inline-block;
  /* This is inline block coz there is a tag in inline so problem is padding and margin and to avoid avid it we convert it into inline-block */
  padding: 0.9rem 2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 500;
  
}
.btn-primary{
background-color: #ffff;
color: magenta;
    border-radius:20rem;
}
.main-content{
    /* border: 2px solid white; */
    position: absolute;
    /* Jise shift krna hai usse absolute position dete hai */
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: linear-gradient(rgba(0,0,0, 0.1),rgba(0,0,0, 0.1));
    padding: 3rem;
    text-align: center;
    
}
.text-size{
    font-size: 12px;
}
img{
    display: inline-block;
    height: 100px;
    width: 100;
    margin-left: 441px;
    margin-top: 10px;
}

img:hover{
    margin-top: 0px;
}




